* {
    margin:0;
    padding: 0;
    box-sizing: boarder-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #28a745;

    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: yellow; /* Yellow navbar */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    flex-grow: 1;
}

.cart button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.cart button:hover {
    background-color: #555;
}